<h2>imap</h2>

<select name="都道府県" id="address">
  <% @contents.each do|c| %>
    <option value=<%=c%>><%= c %></option>
  <%end%>
  <input type="button" value="検索" onclick="codeAddress()">
  <div id="display">検索してみましょう</div>
  <div id='map'></div>
</select>



<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
let map

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 36, lng:138},
    zoom: 4.8,
  });
}

let geocoder
const display = document.getElementById('display')

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      for (var i = 0; i < results.length; i ++) {
        map.zoom = 9;
        map.setCenter(results[i].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
      });
      display.textContent = "検索地域：" + document.getElementById('address').value　
      }
    } else {
      alert('該当する結果がありませんでした');
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDW4Ms7egxp_y2B-tyH9fYL2lMlwY6IuM&callback=initMap" async defer></script>